<html>
  <head>
    <script src="socket.io/socket.io.js"></script>
    
    <script>
            var socket=io("http://localhost:7777");
      $(document).ready(()=>{
        
      });

    </script>
  </head>
  <body>
  <h1>list board</h1>
  </body>
</html>