<html>
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
		<style>
			form {
				border: 3px solid #f1f1f1;
			}

			/* Full-width inputs */
			input {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				box-sizing: border-box;
			}

			/* Set a style for all buttons */
			button {
				background-color: #4CAF50;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
			}

			/* Add a hover effect for buttons */
			button:hover {
				opacity: 0.8;
			}
			

			/* Center the avatar image inside this container */
			.imgcontainer {
				text-align: center;
				margin: 24px 0 12px 0;
			}

			/* Avatar image */
			img.avatar {
				width: 35%;
				border-radius: 50%;
			}
			/* Add padding to containers */
			.container {
				padding: 16px;
			}

			/* The "Forgot password" text */
			span.psw {
				float: right;
				padding-top: 16px;
			}

			/* Change styles for span and cancel button on extra small screens */
			@media screen and (max-width: 300px) {
				span.psw {
					display: block;
					float: none;
				}
				.cancelbtn {
					width: 100%;
				}
			}
		</style>
    <meta charset="utf-8">
    <title>LOGIN</title>
	</head>
	<body>
    <div class="imgcontainer">
			<img src="1.jpg" alt="Avatar" class="avatar">
	  </div>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 
    <p id = "test1" align="center" style="color:#2dd8d8;"><%=useraut%></p>
    <p id = "test2" align="center" style="color:#2dd8d8;"><%=indexaut%></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Room Name</th>
          <th scope="col">Player 1</th>
          <th scope="col">Player 2</th>
          <th scope="col">Join</th>
        </tr>
      </thead>
      <tbody id = "bodytable">
      </tbody>
    </table>
    <button onclick="create()">Create</button>
    <button onclick="leave()">Leave</button>
    <button onclick="back()">Back To Choose Board</button>
    <button id="start" onclick="start()">Start</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var index= document.getElementById('test2').innerHTML;
      var socket = io('/board');
      socket.on('connect', function(){
        socket.emit('refreshroom');
      });
      var user = document.getElementById('test1').innerHTML;
      setInterval(function(){
        socket.emit('refreshroom');
      }, 2000);
      socket.on('roomlist',function(rooms){
        var temp='';
        if(rooms.length!=0){
          for(var i=0;i<rooms.length;i++){
            if (rooms[i].player==2){
              temp +='<tr><th scope=\"row\">'+rooms[i].roomname+'</th><td>'+rooms[i].user1+'</td><td>'+rooms[i].user2+'</td><td>Room Full</td></tr>';
            }
            else {
              temp +='<tr><th scope=\"row\">'+rooms[i].roomname+'</th><td>'+rooms[i].user1+'</td><td>'+rooms[i].user2+'</td>';
              temp+='<td><button onclick=join('+i+') >Join</button></td></tr>';
            }
          } 
        }
        document.getElementById('bodytable').innerHTML=temp;
      });
      socket.on('play',function(){
        window.location.href="/play";
      })
      function create(){
        console.log(user);
        socket.emit('createroom',user);
      }
      function back(){
        socket.emit('leaveroom',user);
        window.location.href="/board";
      }
      function leave(){
        socket.emit('leaveroom',user);
      }
      function join(i){
        socket.emit('joinroom',i,user);
      }
      function start(i){
        console.log('startttttttttttttttttt');
        socket.emit('start',user);
      }
      socket.on('disconnected controller',function(vitri){
        if(vitri == index)
        {
          socket.emit('out',user);
          alert("Disconnect form your board")
          window.location.href="/board";
        }
      });
    </script>   
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>